<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7"
    />
    <title> Airgap Secure Access - {{ .Msg }}</title>
  </head>
  <body>

<div class="content">
<h1>{{ .Msg }}</h1>

{{ if .Testing }}
<p class="test">
<h2>-- test mode --</h2>
The config file includes <code>testing: true</code>
<p/>
All 302 redirects will be captured and presented as links here


{{ end }}
<div class="bottom">
For support, please contact your network administrator.
</div>
</div>
  </body>
</html>
